<IfModule mod_rewrite.c>
RewriteEngine On
Redirect 301 /blog/2022/September/dynamic-island-limited-to-devices-with-120Hz https://wenzels.blog/@/page/EA7WBtcw9XGrp2Ly
Redirect 301 /blog/2022/November/alexa-is-dead-long-live-siri https://wenzels.blog/@/page/PD1bjYm8URUquvIs
Redirect 301 /blog/2022/December/apple-music-ux https://wenzels.blog/@/page/1mXL0SmqjzRcbw7o
Redirect 301 /blog/2023/January/Why-I-left-Instagram https://wenzels.blog/@/page/A1bLgXM0J7rnUTz3
Redirect 301 /blog/2023/January/Bill-Gates-E-Mail-On-Usability-2003 https://wenzels.blog/@/page/uCBop7wNWLTFyvbT
Redirect 301 /blog/2023/January/Twitter https://wenzels.blog/@/page/C4KbZLF9wQYIhbKi
Redirect 301 /blog/2023/January/YouTube-Premium https://wenzels.blog/@/page/widM1WbbEEEhKqar
Redirect 301 /blog/2023/January/Google-vs-OpenAI https://wenzels.blog/@/page/bfxO2EhDYRvHYapG
Redirect 301 /blog/2023/February/webkit-exclusivity https://wenzels.blog/@/page/pvksR6bEVqbfk7Gl
Redirect 301 /blog/2023/February/apples-arvr-headset https://wenzels.blog/@/page/lGTTkUXFCJpOs0Nl
Redirect 301 /blog/2023/February/twitter-snapshot https://wenzels.blog/@/page/97OGvF9gAKjtZBiT
Redirect 301 /blog/2023/February/how-to-mastodon https://wenzels.blog/@/page/OMeeV9bvcfeYI5vk
Redirect 301 /blog/2023/February/social-media-ROI https://wenzels.blog/@/page/5mREyk09IQFWJ4LH
Redirect 301 /blog/2023/February/pay-to-verify-your-identity https://wenzels.blog/@/page/wlVVBYSCzzuwUNic
Redirect 301 /blog/2023/February/twitters-progressing-infirmity https://wenzels.blog/@/page/kMAZTCAGvkqwy0eu
Redirect 301 /blog/2023/March/language-models-in-games https://wenzels.blog/@/page/uLewvkcUern3J1if
Redirect 301 /blog/2023/March/verschlimmbesserung https://wenzels.blog/@/page/EHNk1S10f1MIYNZO
Redirect 301 /blog/2023/March/apple-vs-ux https://wenzels.blog/@/page/Cq5HU0XWHdEt5BrM
Redirect 301 /blog/2023/March/Apple-vs-AI https://wenzels.blog/@/page/fwZ4k8gXOGc1oWW4
Redirect 301 /blog/2023/March/twitter-needs-money https://wenzels.blog/@/page/qJFTcgc7axHTyiyE
Redirect 301 /blog/2023/March/apple-podcasts-ads https://wenzels.blog/@/page/BLVhx1rrubFqDmMZ
Redirect 301 /blog/2023/March/hey-GPT https://wenzels.blog/@/page/l269BJYyuS2Kf8I8y
Redirect 301 /blog/2023/May/Twitter-has-gone-great https://wenzels.blog/@/page/SQWeBsH3SlC0ffKV
Redirect 301 /blog/2023/May/after-twitter https://wenzels.blog/@/page/lLFkNlAbZ6IitP83
Redirect 301 /blog/2023/May/Meta-GDPR-fine https://wenzels.blog/@/page/0VsHern6s1iY3weW
Redirect 301 /blog/2023/June/macos-14-sonoma https://wenzels.blog/@/page/i9aOjSgQed9n0w2h
Redirect 301 /blog/2023/September/why-so-quiet https://wenzels.blog/@/page/kBfaVwIv134Djxm6
Redirect 301 /about 
Redirect 301 /time https://wenzels.blog/
Redirect 301 /feed https://wenzels.blog/feed
Redirect 301 / https://wenzels.blog/
</IfModule>