:root {
  //use this to create color variables etc. and implement dark/light mode
  --accent: #005bff;
  --visited: #0047b5;
  --hover: #2086ff;
  --text: #252626;
  --text-inverted: var(--page);
  --text-LC: #505152;
  --text-title: #0c0c0d;
  --text-ghost: #787d86;

  --page: #FCFCFC;
  --visually-grouped: #EFEFEF;
  --visually-grouped-ranked: rgba(194, 194, 194, 0.25);

  @supports(color: color(display-p3 0 0.35 1)){
    //use this to create color variables etc. and implement dark/light mode
    --accent: color(display-p3 0 0.35 1);
    --visited: color(display-p3 0.056 0.276 0.685);
    --hover: color(display-p3 0.26 0.519 1);
    --text: color(display-p3 0.149 0.15 0.152);
    --text-LC: color(display-p3 0.317 0.319 0.323);
    --text-title: color(display-p3 0.05 0.05 0.051);
    --text-ghost: color(display-p3 0.475 0.493 0.525);

    --page: color(display-p3 0.989 0.99 0.991);
    --visually-grouped: color(display-p3 0.94 0.94 0.94);
    --visually-grouped-ranked: color(display-p3 0.76 0.76 0.76 / 0.25);
  }
}
